.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
}

.head {
  text-align: center;
  margin-top: 50px;
  font-size: 11px;
  user-select: none;
}

.head_small {
  text-align: center;
  font-size: 11px;
  user-select: none;
}

.about_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  column-gap: 20px;
  width: 200px;
  background: #da1889;
  padding: 15px 20px;
  border-radius: 10px;
  transition: 0.2s;
}

.about_box:hover {
  transform: scale(1.03);
}

.about_box h2 {
  font-size: 12px;
  color: white;
  padding-top: 5px;
}

.about_box span {
  color: #02addc;
}

.about_logo {
  font-size: 40px;
  color: #02addc;
}

.about_box p {
  font-size: 10px;
  max-width: 200px;
  text-align: center;
  font-weight: 300;
  color: white;
  padding-top: 5px;
}
