.Navabar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: white;
  padding: 10px 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: 0.3s;
}

html,
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.Navabar.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #da1889;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.Logo {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #da1889;
  cursor: pointer;
  user-select: none;
}

.Logo img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.navText {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #000;
}

.navText a {
  font-size: 9px;
  user-select: none;
  font-weight: 400;
  position: relative;
}

.navText a::before {
  position: absolute;
  content: "";
  width: 100%;
  border: 0.9px solid #da1889;
  bottom: 0;
  visibility: hidden;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navText a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.Heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  background: #da1889;
}

.Heading h2 {
  font-size: 9px;
  color: white;
}

.HeadingIcon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.HeadingIcon .IconHead {
  font-size: 10px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.HeadingIcon .IconHead:hover {
  color: #02addc;
}

.GroupIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000;
  position: relative;
  gap: 6px;
}

.GroupIcon .Group {
  font-size: 15px;
  transition: 0.2s ease-in-out;
}

.GroupIcon .Group:hover {
  color: #da1889;
}

.search {
  position: absolute;
  top: 60px;
  right: -110%;
  margin-right: 20px;
}

.search input {
  outline: none;
  width: 150px;
  border-radius: 5px;
  border: none;
  padding: 4px 10px;
  font-size: 9px;
  background: white;
  color: #da1889;
  box-shadow: 0 0 5px #02addc, 0 3px 0px #02addc;
}

.search input::placeholder {
  color: #da1889;
}

.search.active {
  transition: 0.4s;
  right: 0;
}

.user {
  position: absolute;
  display: flex;
  width: 200px;
  flex-direction: column;
  row-gap: 8px;
  top: 60px;
  right: -110%;
  margin-right: 20px;
  padding: 10px 0;
  align-items: center;
  background: white;
  border-radius: 15px;
  color: #da1889;
  box-shadow: 0 0 5px #02addc, 0 3px 0px #02addc;
}
.user h3 {
  font-size: 15px;
  user-select: none;
}

.user input {
  width: 80%;
  background: #da1889;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
}

.user input:nth-child(4) {
  background: #02addc;
}

.user input:nth-child(4):hover {
  background: #0677a7;
  transition: 0.2s ease-in-out;
}

.user p {
  font-size: 7px;
}

.UserIcon {
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: #02addc;
}

.UserIcon .Usericon:hover {
  color: #da1889;
  transition: 0.2s ease-in-out;
}

.user.active {
  right: 0;
  transition: 0.4s;
}
