.bg_contact {
  height: 70px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  background: url("https://okcredit-blog-images-prod.storage.googleapis.com/2021/12/plasticbottlemanufacturer1.jpg");
}

.head_contact_bg {
  display: flex;
  margin: 0 7%;
  background: rgba(3, 44, 107, 0.8);
  margin-top: 2rem;
  justify-content: center;
}

.input_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding: 0 15%;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.form_text {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.form input {
  width: 250px;
  padding: 7px 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 10px;
  color: white;
  cursor: pointer;
  background: #da1889;
}

.text_content .text {
  resize: none;
  background: #da1889;
  border: none;
  outline: none;
  border-radius: 5px;
  min-height: 105px;
  color: white;
  cursor: pointer;
  width: 200px;
  padding: 10px 15px;
  margin-bottom: 23px;
  font-size: 10px;
}

.form_text .submit {
  width: 100px;
  color: #02addc;
  font-weight: 600;
  font-size: 10px;
  padding: 5px 12px;
}
