.footer {
  margin-top: 5rem;
  padding: 0 5%;
  background: #0bb701;
  height: 60vh;
}

.footer h4 {
  color: white;
  text-align: center;
  padding-top: 40px;
  font-weight: 600;
  font-size: 18px;
}

.footer span {
  color: #da1889;
  text-align: center;
}

.footer h5 {
  color: white;
  font-weight: 300;
  font-size: 13px;
  padding-top: 3px;
  text-align: center;
}

.footer h6 {
  color: white;
  font-weight: 300;
  font-size: 13px;
  padding-top: 10px;
  text-align: center;
}

.Footer_Social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.FooterIcon {
  color: #da1889;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.FooterIcon:hover {
  color: white;
}

.last {
  text-align: center;
  font-size: 10px;
  padding-top: 20px;
  color: white;
  font-weight: 200;
}
