@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

:root {
  --main-color: #da1889;
  --simple-color: #02addc;
  --cold-color: #0bb701;
}
